<div>
    <form action="/meeps" method="post">
        <div class="input-group mb-3">
            <label for="meep" class="visually-hidden">Meep</label>
            <input
                class="form-control"
                type="text"
                name="meep"
                id="meep"
                placeholder="Write a meep..."
                required>
            <button class="btn btn-primary" type="submit">Add Meep</button>
        </div>
    </form>
</div>