{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>[Elliot Thurén TE19]</h1>
    <h3>Detta är mitt slutprojekt i Webbutveckling 2 och Webbserverutveckling 1. Projektet handlar om meeps, login och kanske till och med design på webbsida.</h3>
</main>
{% endblock %}